@model CityWeather

@{
    ViewBag.Title = "Weather Details";
}

<div class="weather-cards">
    @{
        string x = string.Empty;
        if (Model.TemperatureFahrenheit < 44)
        {
            x = "bg-blue";
        }
        else if (Model.TemperatureFahrenheit > 44 && Model.TemperatureFahrenheit <= 74)
        {
            x = "bg-green";
        }
        else if (Model.TemperatureFahrenheit > 74)
        {
            x = "bg-yellow";
        }
    }

    @{
        ViewBag.color = x;
        await Html.RenderPartialAsync("_CityWeatherDetails", Model);
    }

</div>
