@model IEnumerable<CityWeather>

@{
    ViewBag.Title = "Cities Weather";
}


<div class="weather-cards">
    @foreach (CityWeather weatherCity in Model)
    {

        string x = string.Empty;
        if (weatherCity.TemperatureFahrenheit < 44)
        {
            x = "bg-blue";
        }
        else if (weatherCity.TemperatureFahrenheit > 44 && weatherCity.TemperatureFahrenheit <= 74)
        {
            x = "bg-green";
        }
        else if (weatherCity.TemperatureFahrenheit > 74)
        {
            x = "bg-yellow";
        }

        //ViewBag.color = x;
        //await Html.RenderPartialAsync("_CityWeatherDetails", weatherCity);

        @await Component.InvokeAsync("CityWeather", new { cityWeather = weatherCity, color = x});
    }
</div>