@model IEnumerable<CityWeather>

@{
    ViewBag.Title = "Cities Weather";
}


<div class="weather-cards">
    @foreach (CityWeather weatherCity in Model)
    {

        string x = string.Empty;
        if (weatherCity.TemperatureFahrenheit < 44)
        {
            x = "bg-blue";
        }
        else if (weatherCity.TemperatureFahrenheit > 44 && weatherCity.TemperatureFahrenheit <= 74)
        {
            x = "bg-green";
        }
        else if (weatherCity.TemperatureFahrenheit > 74)
        {
            x = "bg-yellow";
        }

        <div class="card @x">
            <h2>@weatherCity.CityName</h2>
            <p class="time">@weatherCity.DateAndTime.ToShortTimeString()</p>
            <p class="temp">@weatherCity.TemperatureFahrenheit °F</p>
            <a href="/weather/@weatherCity.CityUniqueCode" class="details">Details</a>
        </div>
    }
</div>